---
import Layout from '../layout.astro'
import Formulario from '../../components/Formulario.jsx';

---
<Layout title='Requisitos'>
	<section class="grid grid-cols-2 justify-between gap-4">
		<Formulario client:only/>
	</section>
</Layout>