---
import Layout from './layout.astro'
import { turso } from '../turso'
import Card from '../components/card.astro'

const { rows } = await turso.execute('SELECT * FROM carrera')
---
<Layout title='Inicio'>
	<section class="grid grid-cols-3 gap-4">
		{rows.map((carrera) => (
			<Card carrera={carrera}></Card>		
		))}		
	</section>
</Layout>