---
import Layout from './layout.astro'
import { turso } from '../turso'

const { rows } = await turso.execute('SELECT * FROM carrera')
---
<Layout title='Inicio'>
	<section>				
		<ul>
			{rows.map((carrera) => (
				<li>
					<a href={`/requisitos/${carrera.id_carrera}`}>{carrera.nombre}</a>
				</li>
			))}
		</ul>
	</section>
</Layout>