---
const { carrera } = Astro.props;
---
    <a href={`/requisitos/${carrera.id_carrera}`}>	
        <div class="flex flex-col h-full max-w-lg mx-auto bg-gray-200 p-2 rounded-lg shadow-lg">
            <div class="rounded-lg flex flex-col justify-center px-8" style="background-image: url(https://unabvirtual.unab.edu.co/images/2019/Programas_virtuales/contaduria.jpg); height: 150px; width: auto; background-size: cover">        
                <!-- <div class="flex justify-center bg-white backdrop-filter backdrop-blur-md bg-opacity-25 rounded-full text-center p-4 mt-2">
                    <span class="text-slate-600 text-lg font-semibold">
                        {carrera.nombre}
                    </span>
                </div> -->
            </div>
            <h2 class="text-2xl font-light text-gray-800 text-center">{carrera.nombre}</h2>
            <p class="text-sm text-gray-500">
                {carrera.descripcion}    
            </p>
        </div>
    </a>
