<section class="bg-gray-50 dark:bg-gray-800">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
        <div class="max-w-screen-sm mx-auto text-center">
            <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">Para continuar con la Preinscripción, debes iniciar sesión.</p>
            <button id="login" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800">Iniciar Sesión</button>
        </div>
    </div>
</section>

<script>
    const { signIn } = await import("auth-astro/client");
    document.querySelector("#login").onclick = () => signIn("google");
</script>